In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('Datasets/players.csv')

In [9]:
df = df.set_index('surname')

In [19]:
df = df.iloc[:,0:7]

In [20]:
table = df

In [21]:
table

                  team    position  minutes  shots  passes  tackles  saves
surname
Abdoun         Algeria  midfielder       16      0       6        0      0
Belhadj        Algeria    defender      270      1     146        8      0
Boudebouz      Algeria  midfielder       74      3      28        1      0
Bougherra      Algeria    defender      270      1      89       11      0
Chaouchi       Algeria  goalkeeper       90      0      17        0      2
...                ...         ...      ...    ...     ...      ...    ...
Holden             USA  midfielder        4      0       2        0      0
Howard             USA  goalkeeper      390      0      81        0     14
Jozy Altidore      USA     forward      356      8      84        2      0
Onyewu             USA    defender      170      1      69        2      0
Torres             USA  midfielder       45      1      32        0      0

[595 rows x 7 columns]

In [26]:
table.loc[table.team=='Spain',:].rank(ascending=False, numeric_only=True)

                 minutes  shots  passes  tackles  saves
surname
Alonso               9.0    3.0     3.0      1.0   11.0
Arbeloa             19.0   18.0    18.5     16.5   11.0
Busquets             8.0   18.0     2.0      2.5   11.0
Capdevila            2.0   14.0     5.0      5.0   11.0
Casillas             2.0   18.0    12.0     16.5    1.0
Fabregas            14.0   14.0    10.0     10.0   11.0
Iniesta             10.0    5.0     6.5      4.0   11.0
Javi Martuenez      18.0   18.0    16.0     16.5   11.0
Jesus Navas         12.0    7.5    13.0     12.0   11.0
Juan Mata           17.0   14.0    17.0     16.5   11.0
Llorente            16.0   11.0    18.5     16.5   11.0
Marchena            20.0   18.0    20.0     16.5   11.0
Pedro Rodriguez     13.0    6.0    11.0     16.5   11.0
Pique                2.0   11.0     4.0      2.5   11.0
Puyol                4.0    9.0     8.0      6.0   11.0
Ramos                6.0    3.0     6.5      7.0   11.0
Silva               15.0   11.0    15.0     10.0   11.0
Torres              11.0    3.0    14.0     16.5   11.0
Villa                5.0    1.0     9.0     10.0   11.0
Xavi                 7.0    7.5     1.0      8.0   11.0

In [27]:
table.max()

team           Uruguay
position    midfielder
minutes            570
shots               27
passes             563
tackles             34
saves               20
dtype: object

In [32]:
table.loc[:, 'minutes':].idxmax()

minutes    Arevalo Rios
shots              Gyan
passes             Xavi
tackles           Perez
saves             Neuer
dtype: object