In [1]:
import pandas as pd

In [2]:
list = ['a', 'b', 'c', 'd']

In [3]:
list

['a', 'b', 'c', 'd']

In [4]:
s = pd.Series(list, index=["one", "two", "three", "four"])

In [5]:
s

one      a
two      b
three    c
four     d
dtype: object

In [6]:
pd.Series(list, index=["one", "one", "one", "one"])

one    a
one    b
one    c
one    d
dtype: object

In [7]:
s.values

array(['a', 'b', 'c', 'd'], dtype=object)

In [8]:
s.index

Index(['one', 'two', 'three', 'four'], dtype='object')

In [9]:
s.name = "Alphabets"

In [10]:
s

one      a
two      b
three    c
four     d
Name: Alphabets, dtype: object

In [11]:
pd.Series([1, 2, 3, 4], dtype='int16')

0    1
1    2
2    3
3    4
dtype: int16

In [12]:
s['two'], s[1]

('b', 'b')

In [13]:
s[['two', 'one']]

two    b
one    a
Name: Alphabets, dtype: object

In [14]:
s[[1, 0]]

two    b
one    a
Name: Alphabets, dtype: object

In [15]:
s['two' : 'four']

two      b
three    c
four     d
Name: Alphabets, dtype: object

In [16]:
s[1:3]

two      b
three    c
Name: Alphabets, dtype: object

In [17]:
s

one      a
two      b
three    c
four     d
Name: Alphabets, dtype: object

In [18]:
s[[True, False, False, True]]

one     a
four    d
Name: Alphabets, dtype: object

In [19]:
s == 'a'

one       True
two      False
three    False
four     False
Name: Alphabets, dtype: bool

In [20]:
s[s == 'a']

one    a
Name: Alphabets, dtype: object

In [21]:
s[s >= 'c']

three    c
four     d
Name: Alphabets, dtype: object

In [22]:
s[['two','five']]

C:\Users\PC306\Anaconda3\lib\site-packages\pandas\core\series.py:951: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

two       b
five    NaN
Name: Alphabets, dtype: object

In [23]:
import numpy as np

In [24]:
s_nan = pd.Series([1,2,3,np.nan], index=['one', 'two', 'three', 'four'])

In [25]:
s_nan

one      1.0
two      2.0
three    3.0
four     NaN
dtype: float64

In [26]:
s_nan.isnull()

one      False
two      False
three    False
four      True
dtype: bool

In [27]:
s_nan[s_nan.isnull()]

four   NaN
dtype: float64

In [29]:
s_nan.isnull().sum()

1